.cart {
  font-family: "Roboto", sans-serif;
  width: 95%;
  max-width: 1520px;
  margin: 0 auto;
}

.cart-title {
  text-align: center;
  font-size: 50px;
  padding: 30px 0;
  color: #313848;
}

.empty-cart {
  padding-top: 30px;
  text-align: center;
  .fa-shopping-cart {
    font-size: 200px;
  }
  p {
    padding-top: 30px;
    font-size: 16px;
    color: #313848;
  }
  button {
    margin-top: 20px;
    border: 1px solid #313848;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
    background: #313848;
    font-family: "Roboto", sans-serif;
  }
}

.full-cart {
  display: flex;
  padding: 30px 0;
  .cart-table {
    width: 60%;
    tr {
      th {
        padding: 10px;
      }
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      td {
        vertical-align: middle;
        text-align: center;
        padding: 10px 0;
        .fa-trash-alt {
          cursor: pointer;
        }
        img {
          width: 100px;
        }
        input[type="number"] {
          width: 25%;
          min-width: 40px;
          text-align: center;
        }
      }
      .cartItem-title {
        text-align: left;
      }
    }
  }
  .cart-total {
    width: 40%;
    background: #f5f5f5;
    padding: 30px 50px;
    text-align: center;
    h1 {
      font-size: 30px;
    }
    p {
      padding-top: 10px;
      font-size: 12px;
    }
    button {
      width: 100%;
      border: 1px solid #313848;
      padding: 10px;
      color: white;
      cursor: pointer;
      background: #313848;
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .full-cart {
    flex-direction: column;
    .cart-table {
      width: 100%;
    }
    .cart-total {
      width: 100%;
    }
  }
}
