.guitar-products {
  display: flex;
}

//Filter

.filter {
  width: 10%;
  min-width: 150px;
  padding: 20px;
  background: #f5f5f5;
  select {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
  }
}

.filter-menu {
  display: block;
}

//Products
.products {
  width: 90%;
  padding: 20px 30px;
  margin: 0 auto;
}

//Sort

.sort-header {
  display: flex;
  .fa-home {
    padding-right: 5px;
  }
  h2 {
    border-left: 1px solid black;
    padding-left: 5px;
  }
}

.sort-body {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  .sort-label {
    padding-right: 10px;
  }
}

.sort-icons {
  .fa-bars,
  .fa-th {
    padding: 0 5px;
    font-size: 20px;
  }
}

//Items

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $text-color;
}

.items-item {
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  .title-price {
    padding: 10px;
    h3 {
      padding-top: 10px;
      color: red;
      font-size: 20px;
    }
  }
}

// Item
.product-item {
  font-family: "Roboto", sans-serif;
  width: 95%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 30px 0;
  h1 {
    font-size: 30px;
    color: $text-color;
  }
}

.item-container {
  padding-top: 30px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 2fr 1fr;
}

.product-img {
  text-align: center;
}

.product-info {
  .product-description {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      color: #313848;
    }
    p {
      padding-top: 10px;
      line-height: 1.2;
      color: #313848;
    }
  }
  .product-in-stock {
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
    h1 {
      font-size: 20px;
      color: green;
    }
    p {
      padding-top: 10px;
      color: #313848;
    }
  }
  .product-icons {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .product-brand {
    padding-top: 10px;
  }
}

.product-cart {
  .product-questions {
    text-align: center;
    border: 1px solid #d3d3d3;
    padding: 20px;
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      padding: 10px 0;
    }
  }
  .product-add-to-cart {
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin: 10px 0;
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    h2 {
      font-size: 40px;
      padding-top: 10px;
    }
    button {
      width: 100%;
      border: 1px solid $text-color;
      padding: 10px;
      color: white;
      cursor: pointer;
      background: #313848;
      margin-top: 10px;
      font-size: 20px;
    }
  }
  .product-shipping {
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    .fa-store-alt {
      font-size: 20px;
    }
    .product-shipping-container {
      padding-left: 10px;
      h1 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1430px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1115px) {
  .items-container {
    grid-template-columns: 1fr 1fr;
  }
  .item-container {
    grid-template-columns: 1fr;
  }
  .product-img {
    img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 800px) {
  .guitar-products {
    flex-direction: column;
  }
  .filter {
    width: 100%;
  }
  .products {
    width: 100%;
  }
  .items-container {
    grid-template-columns: 1fr;
  }
}
