// LoginCart
header {
  font-family: "Roboto", sans-serif;
  // position: fixed;
  width: 100%;
}

.login-mycart {
  background: #080808;
  border-bottom: 1px solid #1f1f1f;
  padding: 10px 30px;
  text-align: right;
}

.login-mycart a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.fa-user-circle,
.fa-shopping-cart {
  padding: 0 5px;
}

// Nav
nav {
  padding: 20px;
  background: black;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: white;
  font-family: "Carter One", cursive;
}

.nav {
  display: flex;
  color: white;
  a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
  }
}
