header {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

nav {
  padding: 20px;
  background: black;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: white;
  font-family: "Carter One", cursive;
}

.nav {
  display: flex;
  color: white;
  a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 1090px) {
  .nav {
    display: none;
  }
}
