.banner-img {
  background: url("https://static.guitarcenter.com/static/gc/selects/2019/d-home/gc-md-hf-pioneer-08-08-19.jpg")
    center no-repeat;
  background-size: cover;
  height: 350px;
}
